@model MvcApplicationGameDemo.Models.GameCreateViewModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<h2>Create</h2>

@using (Html.BeginForm()) 
{
<div class="form-horizontal">
    <h4>Game</h4>
    <hr />
    <div class="form-group">
        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(x=>x.Name)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Year, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Year, new { htmlAttributes = new { @class = "form-control", @type = "number", @min = "1980", @max = "2020" } })
            @Html.ValidationMessageFor(x => x.Year)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextAreaFor(model => model.Description, new { @class = "form-control" } )
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Image, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Image, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>


    <div class="form-group">
        @Html.LabelFor(model => model.Genre, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <select id="Genre" name="Genre" class="form-control">
                @foreach (var item in ViewBag.Genres)
                {
                    <option>
                        @item
                    </option>
                }
            </select>
            @*@Html.EditorFor(model => model.Genre, new { htmlAttributes = new { @class = "form-control" } })*@
            @Html.ValidationMessageFor(x => x.Genre)
        </div>
    </div>


    <div class="form-group">
        @Html.LabelFor(model => model.Developer, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <select id="Developer" name="Developer" class="form-control">
                @foreach (var item in ViewBag.Developers)
                {
                <option>
                    @item
                </option>
                }
            </select>
            @*@Html.EditorFor(model => model.Developer, new { htmlAttributes = new { @class = "form-control" } })*@
            @Html.ValidationMessageFor(x => x.Developer)
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Add Game" class="btn btn-primary" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
