@model IEnumerable<_04_PlanerProject.Models.EventViewModel>

@{
    ViewBag.Title = "ListEvents";
}

<h2>ListEvents</h2>
<form class="form-inline md-form mr-auto mb-4">
    <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
    @Html.ActionLink("Search", "Search", "Planner", new { @class = "btn btn-primary" })
</form>
<p>
    @Html.ActionLink("Create New Event", "Create", "Planner", new { @class = "btn btn-primary" })
</p>
<table class="table">
    <tr>
        <th>
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                
                <img src="@Html.DisplayFor(modelItem => item.Image)" alt="Alternate Text" width="60" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-primary"})
                @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-danger" })
            </td>
        </tr>
    }

</table>
