@model Store.Models.IndexViewModel
@{
    ViewBag.Title = "Profile";
}

<h2>@ViewBag.Title.</h2>

<div class="row">
    <div class="col-md-6">
        <img src="@Model.User.UserAdditionalInfo.Image" alt="no pic">
    </div>
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-6">
                <label>Full Name:</label>
            </div>
            <div class="col-md-6">
                <label>@Model.User.UserAdditionalInfo.FullName</label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label>Email:</label>
            </div>
            <div class="col-md-6">
                <label>@Model.User.Email</label>
            </div>
        </div>
    </div>
</div>
@Html.ActionLink("Settings", "Settings", "ManageController", new { @class = "btn btn-primary" })